---
import video from "../../../images/Hello world.mp4";
import P1Button from "../UI/P1Button.astro";
---

<style lang="scss">
  article {
    display: flex;
    height: 22rem;
    background-color: #252525;
    border-radius: 20px;
    padding: 2rem 2.5rem;
    margin: 2rem 2rem 2rem 5rem;
    font-family: "Press Start 2P", sans-serif;

    .text {
      width: 50%;
      color: #fff;
      padding: 0 2rem;
      padding-right: 0;

      h3 {
        font-size: 1rem;
        font-weight: 700;
        color: var(--blue-dark-1);
        text-align: center;
        color: #fff;
        text-shadow: 5px 5px black;
      }

      h4 {
        color: rgb(70, 70, 70);
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        color: rgb(235, 235, 24);
      }

      h5 {
        font-size: 0.7rem;
      }

      a {
        font-size: 0.7rem;
        color: rgb(220, 220, 220);
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: rgb(235, 235, 24);
        }
      }

      ul {
        padding-left: 1rem;
        font-size: 0.7rem;
        line-height: 15px;
        margin: 1rem 0;
        color: rgb(220, 220, 220);
      }

      .buttons {
        display: flex;
        justify-content: center;
        margin-top: 1.2rem;

        button {
          padding: 0.5rem;
          width: 160px;
          font-family: "Press Start 2P", sans-serif;
          font-size: 0.8rem;
          border: none;
          background-color: #252525;
          color: rgb(220, 220, 220);
          cursor: pointer;

          &:first-child {
            margin-right: 20px;
          }
          &:hover {
            transform: scale(1.07);
            color: #fff;
          }
        }
      }
    }

    .visuals {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      video {
        border-radius: 10px;
        width: 90%;
        max-width: 480px;
      }
    }
  }
  @media (min-width: 1700px) {
    article {
      margin-left: 17rem;

      .text {
        width: 57%;
      }
      .visuals {
        width: 43%;
      }
    }
  }
</style>

<article>
  <div class="visuals">
    <video autoplay muted loop>
      <source src={video} type="video/mp4" />
    </video>
  </div>
  <div class="text">
    <h3>Industrial Tomb</h3>
    <h4>JavaScript Game</h4>
    <h5>How to play:</h5>
    <ul>
      <li>Push the movable boxes onto their corresponding pressure plates</li>
      <li>Press E to interact with the levers</li>
    </ul>
    <h5>Objective:</h5>
    <ul>
      <li>Figure out the correct combination to solve the level and advance. Good Luck!</li>
    </ul>
    <a>Learn more...</a>
    <div class="buttons">
      <P1Button text="Play Game" />
      <P1Button text="Source Code" />
    </div>
  </div>
</article>
