---
---

<style lang="scss">
  article {
    height: 22rem;
    background-color: #ffe62d;
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 5rem 2rem 2rem;
  }
</style>

<article>
  <h1>Pikachu</h1>
</article>
