---
import SectionLayout from "../layouts/SectionLayout.astro";
import Socials from "./UI/Socials.astro";
import Name from "./Name";
---

<style lang="scss">
  @mixin flexCenter($align-items: "") {
    display: flex;
    justify-content: center;
    align-items: $align-items;
  }

  .hero-grid {
    @include flexCenter();
    margin: 0 auto;

    .hero-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      max-width: 635px;
      margin: 0 auto;

      h1 {
        font-size: clamp(2.5rem, 4vw, 5rem);
        color: var(--blue-dark-0);
      }

      h2 {
        font-size: clamp(1.25rem, 2vw, 2rem);
        font-weight: 500;
        color: var(--gray-dark);
      }

      p {
        font-size: clamp(0.9rem, 1.3vw, 1.2rem);
        margin-top: 0.6rem;
        color: var(--gray);
      }

      button {
        font-family: "Poppins", sans-serif;
        font-size: clamp(0.8rem, 1vw, 1rem);
        width: 9vw;
        max-width: 9rem;
        min-width: 7rem;
        display: inline;
        border: none;
        padding: 0.5rem 0;
        border-radius: 10px;
        margin-top: 20px;
        cursor: pointer;
        color: #fff;
        background-color: var(--blue-dark-1);
        border: 2px solid var(--blue-dark-1);
        transition: background-color 0.2s ease, color 0.2s ease;

        &:hover {
          background-color: #fff;
          color: var(--blue-dark-1);
        }
      }
    }

    .hero-img {
      @include flexCenter(center);
      width: 50%;

      img {
        width: 100%;
        height: auto;
        pointer-events: none;
        max-width: 700px;
      }
    }
  }
</style>

<SectionLayout sectionName="About Me">
  <!-- Grid -->
  <div class="hero-grid">
    <Socials />
    <!-- Text -->
    <div class="hero-text">
      <!-- <h1>Christian Fugarino</h1> -->
      <Name client:load />
      <h2>FRONT END DEVELOPER</h2>
      <p>
        Hi, I'm Christian. I know how to center a div.<br />Also, cats are better than dogs.
      </p>
      <button aria-label="contact">Contact me!</button>
    </div>
    <!-- Image -->
    <div class="hero-img">
      <img width="1810" height="1512" src="/images/ezgif.com-gif-maker.gif" alt="hero img" />
    </div>
  </div>
</SectionLayout>
