---
import CvEmail from "../UI/CvEmail.astro";
import Menu from "./Menu";
---

<style lang="scss">
  @mixin flexCenter($justify-content) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
  }

  nav {
    @include flexCenter(space-between);
    // background-color: aliceblue;
    padding: 0.3rem 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    div {
      @include flexCenter(center);

      .logo {
        text-decoration: none;
        font-weight: 700;
        font-size: 2rem;
        color: var(--orange);
        cursor: pointer;
      }
    }
  }
</style>

<nav>
  <div>
    <a href="/" class="logo">CRIS</a>
    <CvEmail />
  </div>
  <Menu client:load />
</nav>
