---
const { text, backgroundColor, hoverBackgroundColor, border } = Astro.props;
---

<style lang="scss" define:vars={{ backgroundColor, hoverBackgroundColor, border }}>
  button {
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.8rem, 1vw, 1rem);
    width: 9vw;
    max-width: 9rem;
    min-width: 7rem;
    display: inline;
    border: none;
    padding: 0.5rem 0;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    background-color: var(--backgroundColor);
    border: var(--border);
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--hoverBackgroundColor);
      color: var(--backgroundColor);
    }
  }
</style>

<button aria-label="contact">{text}</button>
